* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
}

#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    margin: 10px;
    font-size: xx-large;
    font-weight: bold;
}

#calculator{
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(224, 224, 224);
}

#display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(119, 163, 150);
}

#prevNum{
    font-size: small;
    color:rgb(34, 34, 34);
}

#currentNum{
    font-size: x-large;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#clear, #allClear{
    background-color: rgb(216, 98, 98);
}

#clear:hover, #allClear:hover{
    background-color: rgb(233, 108, 108);
}

#clear:active, #allClear:active{
    background-color: rgb(177, 80, 80);
}

button{
    list-style: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px;
    border-width: 0;
    background-color: rgb(236, 236, 236);
}

button:hover{
    background-color: rgb(241, 241, 241);
}

button:active{
    background-color: silver;
}

.operand{
    background-color: silver;
}

.operand:hover{
    background-color: rgb(204, 204, 204);
}

.operand:active{
    background-color: rgb(133, 133, 133);
}

#equals{
    background-color: rgb(92, 167, 253);
}

#equals:hover{
    background-color: rgb(102, 181, 255);
}

#equals:active{
    background-color: rgb(72, 134, 204);
}

.spanTwoHor{
    grid-row: 5;
    grid-column: 1 / 3;
}

.spanTwoVer{
    grid-row: 4 / 6;
    grid-column: 4;
}